body{
    margin: 0 auto;
    position: relative;
}

header{
    background-color: rgb(104, 77, 224);
    padding: 0;
    display: block;
}

header h1{
    margin: 0 auto;
    padding-top: 50px;
    color: white;
    font-size: 64px;

}

header h2{
    color: rgb(9, 11, 112);
    font-size: 36px;
    margin: 15px 0 15px 0;
}


nav{
    background-color: rgb(105, 37, 41);
    font-size: 25px;
    padding: 10px 0 10px 0;
  
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color: rgb(37, 8, 18);
    text-decoration: underline;
}

aside h2{
    font-size: 24px;
}

aside li{
    font-size: 18px;
}

section h2{
    font-size: 36px;
    margin-bottom: 5px;
     
}

section h3{
    margin-top: 0;
    font-size: 18px;
}

section h4{
    margin: auto;
    text-align: center;
}

section p{
    font-size: 12px;
}

aside ul{
    color: white;
    list-style: none;
    padding-left: 15px;     
}

.wrapper{
    margin: 0 auto;
    width:1250px;
}

.fleurs{
    width: 1250px;
    display: block;
    margin: 30px auto;
}

.titre{
    background-color: gray;
    width: 900px;
    display: block;
    margin: 0 10px 10px 0;
    padding: 30px;  
    float: left;  
}

aside{
    float: left;
    width : 280px;
    height: 450px;
    background-color: rgb(107, 27, 33);
    font-size: 18px;
    display: block;
    margin: 0;
}



.tolkien{
    font-size: 14px;
    font-style: italic;
}

.continue{
    font-weight: bolder;
    text-decoration: underline;
    text-align: right;
}

#categorie{
    text-align: center;
    font-size: 24px;
}

.section2{
    background-color: gray;
    margin: 15px 15px 15px 15px;
    padding: 5px;
    clear: both;
    width: 650px;
    position: relative;
    left: 285px;
}

#pikachu{
    position: absolute;
    right: 125px;
    bottom: -150px;
    width: 250px;
    height: 300px;
}

#pikachu2{
    position: absolute;
    left: 125px;
    bottom: -150px;
    width: 250px;
    height: 300px;
}

.ensemble{
    margin: 0 auto;
    width: 1250px;
}

.article{
    background-color: gray;
    width: 700px;
    height: 350px;
    margin: 20px 50px 20px 15px;
    padding-left: 30px;
    position: relative;
    left: -25px;
    float: left;
}

article h2{
    font-size: 36px;
}

article h3{
    font-size: 18px;
}

article p{
    font-size: 14px;
    margin:0;
    max-width: 80%;
}

.element{
    font-size: 14px;
    position: absolute;
    right: 60%;
    top: 15%;

}

.description{
    margin: 10px 0 10px 0;
}

.pikachu3{
    width: 350px;
    height: 350px;
    float: left;
    margin: 20px 0;
}
footer{
    background-color: rgb(61, 59, 59);
    margin: auto;
    clear: both;
    min-height: 50px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}